In [25]:
import pandas as pd

In [26]:
df = pd.read_csv("studentInfo.csv")

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32593 entries, 0 to 32592
Data columns (total 26 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   code_module                                    32593 non-null  int32
 1   id_student                                     32593 non-null  int64
 2   region                                         32593 non-null  int32
 3   imd_band                                       32593 non-null  int32
 4   num_of_prev_attempts                           32593 non-null  int64
 5   studied_credits                                32593 non-null  int64
 6   code_presentation_2013B                        32593 non-null  int32
 7   code_presentation_2013J                        32593 non-null  int32
 8   code_presentation_2014B                        32593 non-null  int32
 9   code_presentation_2014J                        32593 non-null  int32
 10  gender_F                                       32593 non-null  int32
 11  gender_M                                       32593 non-null  int32
 12  highest_education_A Level or Equivalent        32593 non-null  int32
 13  highest_education_HE Qualification             32593 non-null  int32
 14  highest_education_Lower Than A Level           32593 non-null  int32
 15  highest_education_No Formal quals              32593 non-null  int32
 16  highest_education_Post Graduate Qualification  32593 non-null  int32
 17  age_band_0-35                                  32593 non-null  int32
 18  age_band_35-55                                 32593 non-null  int32
 19  age_band_55<=                                  32593 non-null  int32
 20  disability_N                                   32593 non-null  int32
 21  disability_Y                                   32593 non-null  int32
 22  final_result_Distinction                       32593 non-null  int32
 23  final_result_Fail                              32593 non-null  int32
 24  final_result_Pass                              32593 non-null  int32
 25  final_result_Withdrawn                         32593 non-null  int32
dtypes: int32(23), int64(3)
memory usage: 3.6 MB

In [28]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [29]:
for col in df.columns:
    if df[col].nunique()<=5 and df[col].dtype=='object':
        dummies=pd.get_dummies(df[col],prefix=col,dtype='int')
        df=pd.concat([df.drop(col,axis=1),dummies],axis=1)
    else:
        df[col]=encoder.fit_transform(df[col])

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32593 entries, 0 to 32592
Data columns (total 26 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   code_module                                    32593 non-null  int32
 1   id_student                                     32593 non-null  int64
 2   region                                         32593 non-null  int32
 3   imd_band                                       32593 non-null  int32
 4   num_of_prev_attempts                           32593 non-null  int64
 5   studied_credits                                32593 non-null  int64
 6   code_presentation_2013B                        32593 non-null  int32
 7   code_presentation_2013J                        32593 non-null  int32
 8   code_presentation_2014B                        32593 non-null  int32
 9   code_presentation_2014J                        32593 non-null  int32
 10  gender_F                                       32593 non-null  int32
 11  gender_M                                       32593 non-null  int32
 12  highest_education_A Level or Equivalent        32593 non-null  int32
 13  highest_education_HE Qualification             32593 non-null  int32
 14  highest_education_Lower Than A Level           32593 non-null  int32
 15  highest_education_No Formal quals              32593 non-null  int32
 16  highest_education_Post Graduate Qualification  32593 non-null  int32
 17  age_band_0-35                                  32593 non-null  int32
 18  age_band_35-55                                 32593 non-null  int32
 19  age_band_55<=                                  32593 non-null  int32
 20  disability_N                                   32593 non-null  int32
 21  disability_Y                                   32593 non-null  int32
 22  final_result_Distinction                       32593 non-null  int32
 23  final_result_Fail                              32593 non-null  int32
 24  final_result_Pass                              32593 non-null  int32
 25  final_result_Withdrawn                         32593 non-null  int32
dtypes: int32(23), int64(3)
memory usage: 3.6 MB

In [47]:
x=df.drop('final_result_Pass',axis=1)

In [48]:
y=df['final_result_Pass']

In [49]:
from sklearn.model_selection import train_test_split

In [51]:
x_train,x_temp,y_train,y_temp=train_test_split(x,y,test_size=0.2,random_state=42)
x_test,x_val,y_test,y_val=train_test_split(x_temp,y_temp,test_size=0.5,random_state=42)

In [52]:
x_train.shape

(26074, 25)

In [53]:
y_train.shape

(26074,)

In [54]:
x_test.shape

(3259, 25)

In [55]:
y_test.shape

(3259,)

In [56]:
x_val.shape

(3260, 25)

In [57]:
y_val.shape

(3260,)

In [58]:
y

0        1
1        1
2        0
3        1
4        1
        ..
32588    0
32589    0
32590    1
32591    0
32592    0
Name: final_result_Pass, Length: 32593, dtype: int32